* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Classes and Id's*/
.main-header {
    width: 100%;
    height: 125px;
    background-color: blue;
    color: white;
    padding-top: 3px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-bottom: 5px solid red;
}

.main-footer {
    width: 100%;
    height: 75px;
    background-color: blue;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding-top: 25px;
}

.container {
    text-align: center;
}

.content-header {
    text-align: center;
}

.timer-box {
    width: 85%;
    height: 60px;
    background-color: blue;
    position: absolute;
    bottom: 4px;
    opacity: 0.8; 
    color: white;
    text-align: center;
    z-index: 5;
    margin-left: 7.5%;
}

.parent-box {
    position: relative;
}

.last-link {
    border-right: none;
}

/* Tag Selectors */
img {
    width: 85%; height: 250px;
    border: 1px solid black;
}

li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 3px solid white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*Media Queries */
@media (min-width: 600px)
{
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 60%;
        margin: auto;
        grid-gap: 10px;
    }

    img {
        width: 100%;
    }
    .timer-box {
        width: 100%;
        margin: 0;
    }
}
@media (min-width: 1000px)
{
    .container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        width: 60%;
        margin: auto;
        grid-gap: 10px;
    }

    img {
        width: 100%;
    }
    .timer-box {
        width: 100%;
        margin: 0;
    }
    .main-header{
        height: 75px;
        flex-direction: row;
        justify-content: space-around;
    }
    .navigation {
        margin-top: 35px;
    }
}