* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Classes and Id's*/

#newyear {
    background-image: url('new-year.jpg');
    width: 100%;
}
.main-header {
    width: 100%;
    height: 75px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 3px;
}

.main-footer {
    width: 100%;
    height: 75px;
    background-color: blue;
    color: white;
<<<<<<< HEAD
    margin-top: 10px;
    text-align: center;
=======
>>>>>>> parent of 05d75cc... Added blue opaque divs where countdowns will go
}

.container {
    text-align: center;
}

.year-selection {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

<<<<<<< HEAD
.timer-box {
    margin: auto;
    width: 85%;
    height: 50px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    opacity: 0.8; 
    color: white;
    text-align: center;
}

.parent-box {
    position: relative;
}

=======
>>>>>>> parent of 05d75cc... Added blue opaque divs where countdowns will go
/* Tag Selectors */
.parent-box {
    width: 85%; height: 250px;
    border: 1px solid black;
}

/*Media Queries */
@media (min-width: 600px)
{
    .container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        width: 60%;
        margin: auto;
        grid-gap: 10px;
    }

    .parent-box {
        width: 100%;
    }
    .timer-box {
        width: 100%;
    }

}